<div class="navbar">

  <div class="navbar-left">
    <%= link_to 'CLAN', root_path %>
  </div>


  <!-- <div class="navbar-right hidden-xs hidden-sm"> -->
    <div class="navbar-right">
      <div class="navbar-item">
        <%= link_to "Liste des subventions", subsidies_path %>
      </div>

    </div>



</div>
