<div class="banner">

  <div class="banner-photo banner-item">
  </div>
  <div class="banner-content banner-item">
  <h1 class="title">CLAN</h1>
  <h2 class= "subtitle">  <strong> Solution de gestion tout-en-un pour les comités d’entreprise </strong></p>
  <p>La solution moderne pour gérer simplement les avantages salariés</p>
  </br>
  <%= link_to "Accéder aux subventions", subsidies_path, class: "btn-green" %>
  </div>
</div>
