<div class="banner">

  <div class="repayment-photo banner-item">
  </div>

  <div class="repayment-form banner-item">
    <div class="notice"><%= flash[:notice] %></div>
    <%= link_to  subsidies_path, class: "btn-green" do %>
      <i class="fas fa-long-arrow-alt-left"> </i> Retour à la liste des subventions
    <% end %>
  </div>
</div>
