/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: #c4385e;
  font-size: 14px;
  font-style: italic;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
.notice {
  margin-bottom: 20px;
  text-align: center;
  color: #29B7C9;
  font-size: 14px;
  font-style: italic;
}
