.index-page{
  position: relative;
}

.cards{
  // position: absolute;
  // top: 60px;
  // left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // max-width: 600px;
  max-width: 650px;
  margin: 20px auto;
  background-color: rgba(250, 250, 250, 0.6);
  // padding: 40px;
}

// @media(max-width: 1000px) {
//   .cards {
//     left: 20%;
//   }
// }
// @media(max-width: 800px) {
//   .cards {
//     left: 3%;
//   }
// }

.card{
  width: 100%;
  box-shadow: 1px 1px 1px $light-gray;
  border: 1px solid #efefef;
  margin: 5px 5px 20px 5px;
  background-color: white;
  padding: 30px;
  position: relative;
  h3{
    color: $dark-green;
    margin-top: 0;
    margin-bottom: 20px;
  }
  h4 {
    color: $medium-green;
    font-style: bold;
    margin-top: 0;
    margin-right: 5px;
    width: 30px;
  }
}

.card-item{
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
  align-items: center;
}

.card-link{
  position:absolute;
  right:30px;
  bottom: 30px;
}
.inactive-subsidy{
  p{
    padding-top: 25px;
    color: #505256;
    font-style: italic;
    font-size: 12px;
  }
}
