/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  margin: 0;
  position: relative;
  z-index: 120;
}

@media(max-width: 600px) {
  .navbar {
    height: 140px;
  }
}

.navbar-left{
  position: absolute;
  left: 20px;
  top: 20px;
  font-style: lighter;
  color: $medium-green;
  a {
    text-decoration: none;
  }
}
/* Right section */
.navbar-right {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

